<h1>My tasks</h1>

<ul class="tasks">
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
        <input type="checkbox" checked>
      <% else %>
        <input type="checkbox">
      <% end %>
      <%= link_to task.title, task_path(task) %>
      <%= link_to task_path(task), data: {turbo_method: :delete, turbo_confirm: 'You sure?'} do %>
        <i class="bi bi-trash"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<hr>

<%= link_to 'Create task', new_task_path, class: "btn btn-light mt-3" %>
